<%= form_with(model: health, local: true) do |form| %>
  <% if health.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health.errors.count, "error") %> prohibited this health from being saved:</h2>

      <ul>
      <% health.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :体重 %>
    <%= form.text_field :body_weight %>
  </div>

  <div class="field">
    <%= form.label :体調 %>
    <%= form.number_field :condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
