<p id="notice"><%= notice %></p>

<p>
  <strong class = big>日付:</strong>
  <strong class = big><%= @health.date %></strong>
</p>

<p>
  <strong class = big>体重:</strong>
  <strong class = big><%= @health.body_weight %></strong>
</p>

<p>
  <strong class = big>体調:</strong>
  <strong class = big><%= @health.condition %></strong>
</p>

<%= link_to '編集', edit_health_path(@health) ,class: "btn btn-outline-success"%> |
<%= link_to '戻る', healths_path ,class: "btn btn-outline-danger"%>
