<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @health.date %>
</p>

<p>
  <strong>体重:</strong>
  <%= @health.body_weight %>
</p>

<p>
  <strong>体調:</strong>
  <%= @health.condition %>
</p>

<%= link_to '編集', edit_health_path(@health) ,class: "btn btn-outline-success"%> |
<%= link_to '戻る', healths_path ,class: "btn btn-outline-danger"%>
