<p id="notice"><%= notice %></p>

<p>
  <strong class = big>スケジュール:</strong>
  <strong class = big><%= @schedule.name %></strong>
</p>

<p>
  <strong class = big>時間:</strong>
  <strong class = big><%= @schedule.start_time %></strong>
</p>

<%= link_to '編集', edit_schedule_path(@schedule) ,class: "btn btn-outline-success"%> |
<%= link_to '戻る', schedules_path ,class: "btn btn-outline-danger"%>
