<p id="notice"><%= notice %></p>

<p>
  <strong class = big>写真:</strong>
  <%= image_tag @food.image_url if @food.image.present? %>
</p>

<p>
  <strong class = big>日付:</strong>
  <strong class = big><%= @food.date %></strong>
</p>

<p>
  <strong class = big>タイトル:</strong>
  <strong class = big><%= @food.title %></strong>
</p>

<p>
  <strong class = big>コメント:</strong>
  <strong class = big><%= @food.comment %></strong>
</p>

<%= link_to '編集', edit_food_path(@food) ,class: "btn btn-outline-success"%> |
<%= link_to '戻る', foods_path ,class: "btn btn-outline-danger"%>
